<!-- 
created by Matthew G Da Silva 11/03/2025 

It is built around the base template of the CodeInsitute Boutique Ado project cart template.

this template is the cart template for the website. It contains the cart items and the total cost of the items in the cart.
-->

{% extends 'base.html' %}

{% load static %}

{% load cart_tools  %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="page-overlay h-100 w-100 top-0 position-fixed bg-light"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="my-2">Shopping Cart</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price (per day)</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for cart_item in cart_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ cart_item.item.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ cart_item.item.name }}</strong></p>                                        
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ cart_item.item.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">

                                        <form method="POST" action="{% url 'adjust_cart' cart_item.item_id %}">
                                            {% csrf_token %}
                                            <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1" max="{{ cart_item.available_amount }}"  class="form-control qty-control">
                                            <div class="mt-2">
                                                <button type="submit" name="update" class="d-none btn btn-primary btn-sm updateBtn">Update</button>
                                                <a name="remove" id="remove_{{ cart_item.item_id }}" class="btn btn-danger btn-sm removeBtn">Remove</a>
                                            </div>
                                        </form></div>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{% calc_subtotal cart_item.item.price cart_item.quantity days_amount %}</p>                                        
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="pt-5 text-right">
                                    <h5>Selected Hire Dates ({{ days_amount }} days)</h5>
                                    <p>Start Date: {{ start_date }}</p>
                                    <p>End Date: {{ end_date }}</p>
                                </td>
                            </tr>                           
                            <tr>
                                <td colspan="5" class="text-right">
                                    <h4><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h4>                                                                        
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-success rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
<!-- script to toggle the visibility of the formBtn bases on the qty-control input changing -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let qtyControls = document.querySelectorAll('.qty-control');
        qtyControls.forEach(qtyControl => {
            let initQty = Number(qtyControl.value);
            console.log("init qty", initQty, qtyControl);
                        
            qtyControl.addEventListener('click', function() {
                // check if the quantity is the same as the max quantity
                if (Number(qtyControl.value) === Number(qtyControl.getAttribute('max'))) { 
                    console.log('max qty reached');                   
                    alert('You have reached the maximum quantity for this item');                    
                    return;
                }
            });
            
            qtyControl.addEventListener('change', function() {
                let formBtn = this.closest('form').querySelector('.updateBtn');                                

                if (Number(qtyControl.value) !== initQty) {
                    formBtn.classList.remove('d-none');
                } else {
                    formBtn.classList.add('d-none');
                }                
            });
        });
    });
</script>

<!-- Script to update or remove item from cart -->
<script>
    // Update quantity on click
    $('.updateBtn').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.removeBtn').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];        
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}