<!-- 
created by Matthew G Da Silva 15/03/2025 

It is built around the base template of the CodeInsitute Boutique Ado project checkout template.

this template is the cart template for the website. It contains the cart items and the total cost of the items in the cart.
-->

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load cart_tools  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="page-overlay h-100 w-100 top-0 position-fixed bg-light"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="my-2">Checkout</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <p class="text-muted">Order Summary ({{ product_count }})</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                {% for cart_item in cart_items %}
                    <div class="row">
                        <div class="col-2 mb-1">
                            <a href="{% url 'product_detail' cart_item.item.id %}">
                                {% if cart_item.item.image %}
                                    <img class="w-100" src="{{ cart_item.item.image.url }}" alt="{{ item.name }}">
                                {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}placeholder.jpg" alt="{{ item.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <p class="my-0"><strong>{{ cart_item.item.name }}</strong></p>                            
                            <p class="my-0 small text-muted">Qty: {{ cart_item.quantity }}</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 small text-muted">${{ cart_item.item.price | calc_subtotal:cart_item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-0">
                <div class="row text-black text-right">
                    <div class="col-12 offset-2">
                        <p class="my-0">Order Total: £{{ total | floatformat:2 }}</p>                        
                    </div>                    
                </div>
            </div>
            <div class="col-12 col-lg-6">
                {% if user.is_authenticated %}
                    <p>You are logged in as {{ profile }}</p>
                    <p>Your details can be edited in your <a href="{% url 'profile' %}">Profile Page</a></p>
                    <form action="{% url 'checkout' %}"  method="POST" id="payment-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <fieldset class="px-3">
                            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>
    
                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        </fieldset>    
                        <a href="{% url 'view_cart' %}" class="btn btn-outline-secondary rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Adjust Cart</span>
                        </a>
                        <button id="submit-btn" class="btn btn-success rounded-0 btn-lg">
                            <span class="text-uppercase">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-3">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ total|floatformat:2 }}</strong></span>
                        </p>
                    </form>
                    <!-- Add user details in non editable for below -->                    
                {% else %}
                    <p><strong>You Must Be Logged in to Complete this order</strong></p>
                    <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-secondary">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="loading-spinner text-center">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                <p class="pt-3 text-center">loading ...</p>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret"}}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
