{% extends 'base.html' %}

{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto">                
                <div class="card">
                    <div class="card-body">
                      <h2 class="card-title">Rent the items you need for the new season</h2>
                      <p class="card-text">
                        How It Works:
                        <ul>
                            <li><strong>Subscribe</strong>: Sign up and pay the subscription fee</strong>.</li>
                            <li><strong>Browse & Rent</strong>: Choose tools or party supplies and book them for your desired dates.</li>
                            <li><strong>Pick Up & Use</strong>: Collect your items from the store and enjoy!</li>
                            <li><strong>Return & Report</strong>: Drop off items and report any damages or cleaning needs.</li>
                            <li><strong>Repeat!</strong></li>
                        </ul>
                        Join us in promoting <strong>sustainability, affordability, and community sharing!</strong> 🚀
                      </p>                      
                      <a href="{% url 'products' %}" class="btn btn-outline-primary">Browse Items</a>
                    </div>
                </div>              
            </div>            
        </div>
    </div>
{% endblock %}