<!-- 
Created by Matthew G Da Silva 07/03/2025 

this is an include file for the main navigation bar. It is used in the base.html file to create the main navigation bar.

It is built around the base template of the CodeInsitute Boutique Ado project.
-->

<ul class="nav nav-tabs w-auto mx-auto my-2">
    <li class="nav-item dropdown">
        <a class="font-weight-bold dropdown-toggle nav-link text-black " href="#" id="all-items-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Items
        </a>
        <div class="dropdown-menu" aria-labelledby="all-items-link">
            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            <a href="{% url 'products' %}" class="dropdown-item">All Items</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="font-weight-bold dropdown-toggle nav-link text-black " href="#" id="tools-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="tools-link">
            <a href="{% url 'products' %}?category=garden" class="dropdown-item">Garden</a>
            <a href="{% url 'products' %}?category=diy" class="dropdown-item">DIY</a>
            <a href="{% url 'products' %}?category=cleaning" class="dropdown-item">Cleaning</a>
            <a href="{% url 'products' %}?category=garden,diy,cleaning" class="dropdown-item">All Tools</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="font-weight-bold dropdown-toggle nav-link text-black " href="#" id="party-supplies-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Party Supplies
        </a>
        <div class="dropdown-menu" aria-labelledby="party-supplies-link">
            <a href="{% url 'products' %}?category=cutlery_plates" class="dropdown-item">Cutlery &amp; Plates</a>
            <a href="{% url 'products' %}?category=cups_glasses" class="dropdown-item">Cups &amp; Glasses</a>
            <a href="{% url 'products' %}?category=other_party_items" class="dropdown-item">Other</a>
            <a href="{% url 'products' %}?category=cutlery_plates,cups_glasses,other_party_items" class="dropdown-item">All Party Supplies</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="font-weight-bold dropdown-toggle nav-link text-black" href="#" id="offers-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Offers
        </a>
        <div class="dropdown-menu" aria-labelledby="offers-link">
            <a href="{% url 'products' %}?category=new_additions" class="dropdown-item">New Additions</a>
            <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>                
            <a href="{% url 'products' %}?category=new_additions,deals" class="dropdown-item">All Specials</a>
        </div>
    </li>
</ul>