{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="page-overlay h-100 w-100 top-0 position-fixed bg-light"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Maintenance</h2>
                <h5 class="text-muted">
                    Edit Maintenance Ticket
                </h5>   
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <p>Tool: <strong>{{ ticket.tool }}</strong></p>
                <p>Associated Order: <strong>{{ ticket.associated_order }}</strong></p>
                <form method="POST" action="{% url 'edit_ticket' ticket.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'status' or field.name == 'maintenance_notes' or field.name == 'tool'%}
                            <!-- filed is hidden -->
                              <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
                        {% elif field.name == 'associated_order' and isNone %}                                                                                                                                
                            <input type="hidden" name="{{ field.name }}" value=''>
                        {% else %}
                            {{ field | as_crispy_field }}
                        {% endif %}                        
                    {% endfor %}         
                    <div class="text-right my-4">
                        <a class="btn btn-outline-secondary" href="{% url 'maintenance' %}">Cancel</a>
                        <button class="btn btn-success" type="submit">
                            Update Ticket
                        </button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}